@import 'theme/app.scss';

:export {
  // Colors
  danger: $danger;
  dark: $dark;
  light: $light;
  primary: $primary;
  secondary: $secondary;
  success: $success;

  // Fonts
  fontNormal: $font-family-base;
  fontBold: $font-family-bold;
  fontSemiBold: $font-family-semi;

  // Spacers
  spacer0: map-get($spacers, 0);
  spacer1: map-get($spacers, 1);
  spacer2: map-get($spacers, 2);
  spacer3: map-get($spacers, 3);
  spacer4: map-get($spacers, 4);
  spacer5: map-get($spacers, 5);
  spacer6: map-get($spacers, 6);
  spacer7: map-get($spacers, 7);

  // Breakpoints
  breakpointsMinSm: map-get($grid-breakpoints, sm);
  breakpointsMinMd: map-get($grid-breakpoints, md);
  breakpointsMinLg: map-get($grid-breakpoints, lg);
  breakpointsMinXl: map-get($grid-breakpoints, xl);

  breakpointsMaxXs: map-get($grid-breakpoints, sm) - 1;
  breakpointsMaxSm: map-get($grid-breakpoints, md) - 1;
  breakpointsMaxMd: map-get($grid-breakpoints, lg) - 1;
  breakpointsMaxLg: map-get($grid-breakpoints, xl) - 1;
}